/* components/pokemon/TypeBadge.css */

.typeBadge {
  padding: 0.1rem 0.4rem;
  border-radius: 999px;
  font-size: 0.7rem;
  text-transform: capitalize;
  color: white;
}

/* quick colors per type, not super accurate but works */
.type-fire {
  background: #f08030;
}

.type-water {
  background: #6890f0;
}

.type-grass {
  background: #78c850;
}

.type-electric {
  background: #f8d030;
}

.type-psychic {
  background: #f85888;
}

.type-ice {
  background: #98d8d8;
}

.type-dragon {
  background: #7038f8;
}

.type-dark {
  background: #705848;
}

.type-fairy {
  background: #ee99ac;
}

.type-normal {
  background: #a8a878;
}

.type-fighting {
  background: #c03028;
}

.type-flying {
  background: #a890f0;
}

.type-poison {
  background: #a040a0;
}

.type-ground {
  background: #e0c068;
}

.type-rock {
  background: #b8a038;
}

.type-bug {
  background: #a8b820;
}

.type-ghost {
  background: #705898;
}

.type-steel {
  background: #b8b8d0;
}
