/* App.css */

.appRoot {
  min-height: 100vh;
  background: var(--bg-main);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
}

.appMain {
  max-width: 1080px;
  width: 100%;
  margin: 1rem auto 2rem;
  padding: 0 1rem;
}
